
.header{
    font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: left;
}

.headerContainer{
    height: 58px;
    padding-left: 24px;
}

.headerLogo{
        width:73.24px;
        height: 58px;
}